@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-size: 14px;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  margin-top: auto;
}

.header {
  display: flex;
  margin-bottom: auto;
}

.content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

.header,
.footer {
  padding: 7px;
}

.header ul {
  margin-top: 5px;
}